[submodule "client"]
	path = client
	url = https://github.com/doxel/doxel-angular
[submodule "express-plupload"]
	path = express-plupload
	url = https://github.com/luxigo/express-plupload
[submodule "jpeg_metadata_size"]
	path = jpeg_metadata_size
	url = https://github.com/bugdanov/jpeg_metadata_size
[submodule "exiv2node"]
	path = exiv2node
	url = https://github.com/m0g/exiv2node
